# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from google_config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Mahebourg,-20.4081,57.7000,70.25,69,39,14.20,MU,2022-10-01 17:08:19,scattered clouds
1,1,Bathsheba,13.2167,-59.5167,88.41,70,40,13.80,BB,2022-10-01 17:05:31,scattered clouds
2,2,Klaksvik,62.2266,-6.5890,50.92,87,68,17.25,FO,2022-10-01 17:08:20,broken clouds
3,3,Mehamn,71.0357,27.8492,40.91,100,100,2.30,NO,2022-10-01 17:08:06,overcast clouds
4,4,Tessalit,20.1986,1.0114,89.96,30,78,8.34,ML,2022-10-01 17:08:20,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maxiumum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maxiumum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Bathsheba,13.2167,-59.5167,88.41,70,40,13.80,BB,2022-10-01 17:05:31,scattered clouds
4,4,Tessalit,20.1986,1.0114,89.96,30,78,8.34,ML,2022-10-01 17:08:20,broken clouds
12,12,Bubaque,11.2833,-15.8333,81.18,78,99,13.04,GW,2022-10-01 17:08:23,overcast clouds
17,17,Hithadhoo,-0.6000,73.0833,81.73,72,96,13.00,MV,2022-10-01 17:08:25,overcast clouds
24,24,Victoria,22.2855,114.1577,83.32,85,60,10.00,HK,2022-10-01 17:07:50,broken clouds
29,29,Dhidhdhoo,6.8833,73.1000,82.02,78,95,18.37,MV,2022-10-01 17:08:30,overcast clouds
34,34,Veraval,20.9000,70.3667,80.40,78,1,8.79,IN,2022-10-01 17:08:31,clear sky
35,35,Accra,5.5560,-0.1969,78.21,81,48,13.87,GH,2022-10-01 17:08:32,scattered clouds
38,38,Bengkulu,-3.8004,102.2655,75.16,95,99,5.01,ID,2022-10-01 17:08:33,moderate rain
43,43,Azacualpa,15.3433,-88.5514,81.25,68,99,3.53,HN,2022-10-01 17:09:35,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
# Display sample data
clean_travel_cities

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Bathsheba,13.2167,-59.5167,88.41,70,40,13.80,BB,2022-10-01 17:05:31,scattered clouds
4,4,Tessalit,20.1986,1.0114,89.96,30,78,8.34,ML,2022-10-01 17:08:20,broken clouds
12,12,Bubaque,11.2833,-15.8333,81.18,78,99,13.04,GW,2022-10-01 17:08:23,overcast clouds
17,17,Hithadhoo,-0.6000,73.0833,81.73,72,96,13.00,MV,2022-10-01 17:08:25,overcast clouds
24,24,Victoria,22.2855,114.1577,83.32,85,60,10.00,HK,2022-10-01 17:07:50,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
665,665,Aquiraz,-3.9014,-38.3911,86.09,55,28,15.86,BR,2022-10-01 17:26:37,scattered clouds
666,666,Tumaco,1.7986,-78.8156,79.79,73,93,10.00,CO,2022-10-01 17:26:37,overcast clouds
668,668,Minab,27.1467,57.0801,86.20,72,0,4.74,IR,2022-10-01 17:26:38,clear sky
669,669,Ondjiva,-17.0667,15.7333,88.16,12,20,7.72,AO,2022-10-01 17:26:38,few clouds
674,674,Andujar,38.0392,-4.0508,82.04,16,87,6.15,ES,2022-10-01 17:26:40,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

         City Country  Max Temp Current Description      Lat       Lng
1   Bathsheba      BB     88.41    scattered clouds  13.2167  -59.5167
4    Tessalit      ML     89.96       broken clouds  20.1986    1.0114
12    Bubaque      GW     81.18     overcast clouds  11.2833  -15.8333
17  Hithadhoo      MV     81.73     overcast clouds  -0.6000   73.0833
24   Victoria      HK     83.32       broken clouds  22.2855  114.1577

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ''

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,
4,Tessalit,ML,89.96,broken clouds,20.1986,1.0114,
12,Bubaque,GW,81.18,overcast clouds,11.2833,-15.8333,
17,Hithadhoo,MV,81.73,overcast clouds,-0.6000,73.0833,
24,Victoria,HK,83.32,broken clouds,22.2855,114.1577,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Display sample data

hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
4,Tessalit,ML,89.96,broken clouds,20.1986,1.0114,
12,Bubaque,GW,81.18,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
17,Hithadhoo,MV,81.73,overcast clouds,-0.6000,73.0833,Scoop Guest House
24,Victoria,HK,83.32,broken clouds,22.2855,114.1577,Mini Central

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [24]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'], how='any')

# Display sample data

clean_hotel_df = clean_hotel_df[clean_hotel_df['Hotel Name'].astype(bool)]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bathsheba,BB,88.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
12,Bubaque,GW,81.18,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
17,Hithadhoo,MV,81.73,overcast clouds,-0.6000,73.0833,Scoop Guest House
24,Victoria,HK,83.32,broken clouds,22.2855,114.1577,Mini Central
29,Dhidhdhoo,MV,82.02,overcast clouds,6.8833,73.1000,Dhidhoo beach

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [26]:
# Set the file name.
output_data_file = 'WeathterPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [27]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [28]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 88.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Dora, Bubaque</dd>\n<dt>City</dt><dd>Bubaque</dd>\n<dt>Country</dt><dd>GW</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dhidhoo beach</dd>\n<dt>City</dt><dd>Dhidhdhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lords Inn Somnath</dd>\n<dt>City</dt><dd>Veraval</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Accra City Hotel</dd>\n<dt>City</dt><dd>Accra</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Merendon</dd>\n<dt>City</dt><dd>Azacualpa</dd>\n<dt>Country</dt><dd>HN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ogomono Doumbo</dd>\n<dt>City</dt><dd>Douentza</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Current Weather</dt><dd>light rain and 89.67 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [29]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   13.2167  -59.5167
12  11.2833  -15.8333
17  -0.6000   73.0833
24  22.2855  114.1577
29   6.8833   73.1000
34  20.9000   70.3667
35   5.5560   -0.1969
38  -3.8004  102.2655
43  15.3433  -88.5514
49  14.9951   -2.9517

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [31]:

# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map

fig

Figure(layout=FigureLayout(height='420px'))